<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/template :: head(title = '100 ideas - Admin')"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <th:block th:replace="admin/template :: navbar" />
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <th:block th:replace="admin/template :: sidebar" />
    <!-- Content Wrapper. Contains page content -->

    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="m-0">Categories</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Managing Categories database</p>
                                <a href="/admin/categories" class="btn btn-primary">Go into Categories</a>
                            </div>
                        </div>

                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="m-0">Featured</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">Special title treatment</h6>

                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <th:block th:replace="admin/template :: rightbar" />
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <th:block th:replace="admin/template :: footer" />
</div>
<!-- ./wrapper -->


</body>
</html>
