<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form to add new question</title>
</head>

<form th:action="@{/questions}" method="post">
    <label for="questionName">Question name:</label>
    <input type="text" id="questionName" name="name">
    <br>
    <br>
    <label for="questionCategory">Question category:</label>
    <select id="questionCategory" name="category">
        <option th:each="category : ${category}"
                th:value="${category.id}"
                th:text="${category.name}">
        </option>
    </select>
    <button type="submit">Create question</button>
</form>


<!--    get htttp://www.twojastrona.com /questions?categoryname=hfasfhj-->
</html>